.card{
    transition: all 0.2s ease-out;
    cursor: pointer;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.card:hover{
    box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.card:active{
    transform: scale(1.05) translateY(0.2rem);
}