.card{
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-out;
    cursor: pointer;
    width: fit-content;
    position: relative;
    border-radius: 15px;
}
.card-details{
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding: 1rem;
    color: #fff;
    font-weight: 500;
}

.drop{
    opacity: 1;
}
.card-wrapper:hover{
    box-shadow: 0 0 4em 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.card-wrapper:active{
    transform: scale(1.05) translateY(0.2rem);
}