body{
  margin: 0;
  padding: 0;
  /* background-color: #1a1b1f; */
}

.center{
  min-height: 100vh;
  width: 100%;
  background-color: #2D2449;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ----------------------- SIDEBAR CSS ----------------------- */

.sideBar{
  height: 100%;
  width: 250px;
  border-right: 1px solid rgba(118, 55, 134, 0.8);
  background-color:  #282043;
}
.sideBar-div{
  display: flex;
  flex-direction: column;
}
.sideBarList{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sideBarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;
  transition: background-color 200ms;
  align-items: center;
  font-family: var(--font-family);
}

.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}

.sideBarList .row:hover{
  cursor: pointer;
  background-color: #5944a8;
}
.sideBar #active{
  background-color: #F85D58;
}

/* ----------------------- END OF SIDEBAR CSS ----------------------- */

/* ----------------------- DASHBOARD CSS ---------------------------- */
.spacer{
  padding: 2rem 4rem;
}
.Dashboard{
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #2D2449;
  /* background: linear-gradient(143deg, rgb(150, 94, 242) 0%, rgba(0,0,0,1) 100%); */
}
.Header_tool_bar{
  width: 100%;
  display: flex;
  text-align: center;
}
.Header_tool_bar_input{
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}
.Header-tool-bar_input-options{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  display: none;
  backdrop-filter: blur(.25em);
  position: absolute;
  left: 1.5rem;
  font-family: var(--font-family);
  border-radius: 20px;
  color: #fff;
  border: 1px solid #5b627c;
  width: 30%;
  top: calc(100% + .25em)
}
.Header-tool-bar_input-options.show{
  display: block;
}
.Header_tool_bar_icons{
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 1.5rem;
  gap: 18px;
}
.Header-tool-bar_input-option{
  cursor: pointer;
  border-radius: 20px;
}
.Header-tool-bar_input-option:hover{
  background-color: #282043;
}
.Header-tool-bar_input-option span{
  font-size: 24px;
}
.Header_tool_bar_input_search{
  border-radius: 20px;
  width: 30%;
  padding: 1rem 1rem 1rem 3rem;
  color: #fff;
  background: #2D2449;
  outline: none;
  font-size: 15px;
  font-family: var(--font-family);
  border: 1px solid #5b627c;
}
.search_icon{
  position: relative;
  display: inline-block;
  left: 36px
}
.Header_content{
  margin: 0.5rem 0 2em;
  width: 100%;
}
.content{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Header_content{
  display: flex;
  width: 100%;
}
.Dashboard_content{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fightclub__dashboard-big__box{
  width: 100%;
  margin: 2rem 0 1rem;
  min-height: 450px;
}
.fightclub__dashboard-small__box{
  width: 100%;
  margin: 2rem 0 1rem;
  min-height: 450px;
}
.fightclub__dashboard-content__boxes{
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.fightclub__dashboard-content__boxes-box{
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
  background: rgba(118, 55, 134, 0.1);
  border: 1px solid rgba(118, 55, 134, 0.5);
  padding: 0 1rem;
  margin: 2rem 1.5rem;
}
.wrapper-box-content{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.box-content, .wrapper-box-content h1{
  color: #fff;
}
.box-content{
  flex:1;
  width: 100%;
  margin-left: 2rem;
}
.box-content div{
  color: #fff;
  margin-left: 2rem;
  width: 100%;
}
.wrapper-box-content h1{
  font-size: 34px;
}
.whole_box_wrraper{
  width: 100%;
  display: flex;
}

.fightclub__dashboard-content__boxes-box p,
.fightclub__dashboard-content__boxes-box div{
  color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}
.Header_tool_bar_icons_profile,
.Header_tool_bar_icons_shop,
.Header_tool_bar_icons_noti{
  background-color: #332E59;
  padding: 0.5rem;
  border-radius: 20px;
  transition: background-color 200ms , color 200ms;
  cursor: pointer;
}
.Header_tool_bar_icons_profile:hover,
.Header_tool_bar_icons_shop:hover,
.Header_tool_bar_icons_noti:hover{
  background-color: #F85D58;
  color:#fff;
}
/* ----------------------- END OF DASHBOARD CSS ---------------------------- */
/* ----------------------- RESOURCES CSS ---------------------------- */
.army_resources{
  display: flex;
  flex-direction: column;
}
.army_resources div{
  font-family: var(--font-family);
}
/* ----------------------- END OF RESOURCES CSS ---------------------------- */
/*------------------------TABLE CSS----------------------------------------- */
.table__content{
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.table__content-table{
  width: 100%;
  padding: 20px;
}
.table__content-table__row{
  color: #fff;
  font-family: var(--font-family);
  font-size: 24px;
  width: 100%;
  font-weight: 500;
  transition: background-color 200ms;
  min-height: 40px;
  cursor: pointer;
}

.table__content-table__row td{
  text-align: center;
}

.table__content-table__row:hover{
  background-color: #2e3958;
}
.attack__sidebar{
  width: 1%;
  transition: width 0.3s ease;
}
.attack__sidebar-content{
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(81, 62, 105, 0.2);
  height: 100%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5%;
  
}

.attack__sidebar.show{
  width: 100%;
}

.attack__sidebar-content__inner{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attack__sidebar-content__inner p {
  font-size: 20px;
  font-weight: 400;
}
.attack__sidebar-content__inner-spy{
  width: 150px;
  border: 1px solid #fff;
  border-radius: 5%;
  outline: none;
  color: #fff;
  margin: 1rem;
  cursor: pointer;
  height: 40px;
  background-color: rgb(101,74,134, 0.2);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s;
}
.attack__sidebar-content__inner button:hover{
  background-color: rgb(101,74,134, 0.5);
}
.attack__sidebar-content__inner-attack{
  transition: background-color 0.3s;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  color: #fff;
  margin: 1rem;
  border: 1px solid #fff;
  border-radius: 5%;
  outline: none;
  cursor: pointer;
  height: 40px;
  background-color: rgb(101,74,134, 0.2);
}

/* ------------------------------------------- */

.lgot-btn-wrapper{
  text-align: center;
  margin: auto;
}

.lgot-btn-wrapper h1{
  color: #fff;
  font-family: var(--font-family);
}

.lgot-btn{
  width: 170px;
  font-family: var(--font-family);
  height: 80px;
  margin-top: 2rem;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #5944a8;
  background-color: rgba(0,0,0,0);
  transition: background-color 300ms;
}

.lgot-btn:hover{
  background-color: #5944a8;
}


/* ------------------------------------------ */
.base__content{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.base__content__big-box{
  width: 100%;
  min-height: 250px;
  background-color: #332E59;
  border-radius: 15px;
}
/*change style color */
.base__content__big-box p {
  margin: 2rem;
  color: #fff;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}
.base__content__small-box__wrapper{
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  gap: 20px;
}
.small-box{
  width: 100%;
  background-color: #332E59;
  min-height: 300px;
  display: flex;
  border-radius: 15px;
}

.test{
  width: 100%;
  flex: 1;
}
.test h1{
  margin:1rem;
  font-size: 28px;
}
.test > div ,.test > h1{
  margin: 2rem;
  width: 100%;
  color: #fff;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}
.profile__abs{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(.25em);
}

@media screen and (max-width: 1000px){
  .Dashboard{
    height: 100%;
    width: 100%;
  }

  .sideBar{
    display: none;
  }
  .base__content__small-box__wrapper{
    flex-direction: column;
    width: 80%;
  }
  .base__content{
    align-items: center;
  }
  .Header_tool_bar_input_search{
    width: 90%;
  }
  .Header-tool-bar_input-options{
    width: 90%;
  }
}

@media screen and (max-width: 450px){
  .small-box{
    flex-direction: column;
  }
  .base__content__small-box__wrapper{
    width: 100%;
  }
  .Header_tool_bar_input{
    display: none;
  }
  .Header_tool_bar_icons{
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }
  .test > div{
    margin-left: 1rem;
  }
}