.wrapper{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.sideBar{
  position: absolute;
  width: 270px;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: #474B4F;
}

.sideBar-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 11px;

  position: absolute;
  width: 270px;
  height: 815px;
  left: 0px;
  top: 29px;
}

.sideBar-content span{
  width: 182px;
height: 53px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.sideBar-content button{
  width: 77px;
  height: 77px;

  background: #6E7479;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.sideBar-content ul{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 270px;
height: 663px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.sideBar-content li{
  width: 211px;
height: 51px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}