ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    transition: 0.2s;
    text-decoration: none;
  }
  
  li img{
    height: 49px;
    width: 200px;
    display: flex;
  }
  
  .left{
    float: left;
  }
  
  li a:hover {
    background-color: #d72323;
  }
  
  .tran{
    transition: 8000ms;
  }
.income-enter{
  opacity: 0;
  transform: scale(0.3);
}
.income-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.income-exit{
  opacity: 1;
}
.income-exit-active{
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 300ms, transform 300ms;
}
.load-enter{
  opacity: 0;
  transform: scale(0.1);
}
.load-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms, transform 300ms;
}
.load-exit{
  opacity: 1;
}
.load-exit-active{
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 100ms, transform 300ms;
}
.loader-wrap{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 43%;
  left:41%;
  background-color: #475763;
  height: 300px;
  width: 500px;
  z-index: 300;
  border: 1px solid #84cdfa;
  border-radius: 5px;
}
.loader {
  position: relative;
  border-radius: 50%;
  border: 20px solid #EAF0F6;
  border-top: 15px solid #84cdfa;
  width: 200px;
  height: 200px;
  animation: animate 1.5s linear infinite;

}
@keyframes animate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
