  /* .All-Login{
  background-color: #1e2429;
  min-height: 96.2vh;
  display: block;
  transition: 800ms;
  opacity: 1;
}

.All-Login.active{
  opacity: 1;
}

.Login-Header{
  text-align: center;
  margin: auto;
}

.Login-Header img{
  margin-top: 4%;
  width: 20%;
  border-radius: 50%;
  cursor: pointer;
}

.Login-Form{
  padding: 16px;
  text-align: center;
}

.Login-Form input{
  width: 40%;
  display: block;
  padding: 12px 20px;
  font-size: 16px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #eeeeee;
  text-align: left ;
}

.Login-Form input[type="submit"]{
  text-align: center;
  color: #eeeeee;
  background-color: #d72323;
  font-weight: bold;
}

.Forgot{
  text-align: center;
  color: #eeeeee;
  font-weight: bold;
}

.logcome-enter{
  opacity: 0;
  transform: scale(0.3);
}
.logcome-enter-active{
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.logcome-exit{
  opacity: 1;
}
.logcome-exit-active{
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 300ms, transform 300ms;
} */
body {
  background-color: #1a1b1f;
}
.fightclub__login{
  background:-moz-linear-gradient(90deg, rgba(59, 61, 70, 1) 0%, rgba(26, 27, 31, 1) 100%); 
  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(59, 61, 70, 1) 0%, rgba(26, 27, 31, 1) 100%);
  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(59, 61, 70, 1) 0%, rgba(26, 27, 31, 1) 100%);
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A1B1F', endColorstr='#3B3D46', GradientType=0 );
  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(59, 61, 70, 1) 0%, rgba(26, 27, 31, 1) 100%);
  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(59, 61, 70, 1) 0%, rgba(26, 27, 31, 1) 100%);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 6rem;
}
.fightclub__login-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 50%;
}
.fightclub__login-content__title{
  margin-right: 65rem;
}
.fightclub__login-content__title h1{
  color:#fff;
  justify-content: flex-start;
  font-family: var(--font-family);
  letter-spacing: 0.09em;
}
.fightclub__login-content__form{
  background: rgba(59, 61, 70, 1);
  font-family: var(--font-family);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  color: #fff;

}
.fightclub__login-content__form input{
  display: flex;
  margin: 0.5rem 0;
  background: #1A1B1F;
  color: #fff;
  min-height: 30px;
  border-radius: 2px;
  outline: none;
  width: 100%;
  border: 2px solid #5b627c;
}
.fightclub__login-content__form-submit input[type=submit]{
  align-items: center;
  justify-content: center;
  width: 60%;
  min-height: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  outline: none;
  border: none;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
}
.fightclub__login-content__form-submit input[type=submit]:hover{
  background: linear-gradient(90deg, #069bff 0%, #2dabff 100%);
}
.fightclub__login-content__form-submit{
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
}
.fightclub__login-content__form-error{
  text-align: center;
  color: #c15755;
  margin-top: 1rem;
  font-size: 12px;
  height: 15px;
  font-weight: 500;
}
.fightclub__login-content__form-forgot{
  text-align: center;
}
.fightclub__login-social{
  background: rgba(59, 61, 70, 1);
  border-left: 2px solid #5b627c;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 35%;
  
}