
.shop__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.shop__grid-content{
    display: flex;
    margin-top: 5%;
    width: 100%;
    align-items: center;
    gap: 4rem;
    row-gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;

}
.card{
    flex-grow: 0;
}